/* 
.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(228, 168, 200);
} */

.headerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: "sans-serif";
  font-weight: 8px;
  font-size: large;
  color: rgba(255, 255, 255, 0.913);
  text-align: left;
  font-style: italic;
  font-variant: normal;
  text-shadow: rgb(255, 0, 251) 1px 0 10px;
  letter-spacing: 4px;
  
}

.price {
  color: black;
}

.price-home {
  font-size: larger;
}

h5 {
  font-weight: bold;
  font-size: medium;
}

.form-container, .cart-container, .purchase-container {
  padding-top: 50px;
  padding-bottom: 60px;
  border: solid pink 5px;
}

.justify-content-end, .Nav {
  background-color: pink;
}

#root {
  background-color: aliceblue;
  /* flex-direction: row; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.post {
  padding: 15px;
  border: solid rgb(245, 223, 227) 8px;
  background-color: rgb(232, 244, 241);
  border-radius: 25px;
  grid-area: span;
}

img {
  height: 500px;
  max-width: 600px;
}

h4 {
  color: rgba(163, 92, 104, 0.797);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

footer {
  padding: 30px;
  border: dotted pink 2px;
  margin: auto;
  border-radius: 12px;

}